/* Style the navigation menu */
.side-links { 
/*  background-color: #333;  Background color */
/*  padding: 20px;  Add some space around the links */
  color: #000;  /*Text color*/
  font-size: 18px; 
}

/* Style the navigation links */
.side-links a {
  text-decoration: none; /* Remove underline */
  /*color: #fff; /* Link text color */*/
}

/* Style the navigation links on hover */
.side-links a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* HEADER LINK */

/* Style the header link like an h1 */
.header-link {
  font-size: 42px; /* Adjust the font size to match your h1 */
  font-weight: bold; /* Make the text bold like an h1 */
  text-decoration: none; /* Remove underlines from the link */
  color: #000; /* Set the text color to your desired color */
}

/* Style the header link when hovering over it */
.header-link:hover {
  color: #000; /* Keep the same text color when hovering */
  text-decoration: none; /* Remove underline when hovering */
  /* You can add additional styles here if needed */
}
